<div class="checkbox {{class}}">
	<input type="checkbox" name="{{name}}" value="{{value}}" id="{{id}}" {{#if isChecked}}checked="checked" {{/if}}>
	<label for="{{id}}">{{>icon name="tick"}}</label>
</div>
